/*! == ORGANISMS == */

.menu-offscreen {
  position: fixed;
  z-index: 50;
  top: -50vh;
  overflow: hidden;
  transition: top 0.5s ease;
  width: 100%;
  &:before {
    @include childOverlay;
    z-index: -1;
    opacity: 0.75;
    background: white;
  }
  &.active {
    top: 0;
  }
  ul {
    display: flex;
    align-items: flex-end;
    margin: 0;
    margin-top: calc(10vh + 3.5rem);
    li {
      display: inline-block;
      margin-bottom: 1.7rem;
      &:before {
        display: none;
      }
      a {
        transition: all 0.5s ease;
        padding: 1rem 2rem;
        font-size: $font_size * 0.9px;
        font-family: $font_secondary;
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        text-decoration: none;
        color: $color_grey_mid;
        cursor: pointer;
        &:hover {
          color: $color_brand_highlight;
        }
      }
      &:first-of-type a {
        padding-left: 0;
      }
    }
  }
  .col {
    @include content-col;
  }
}

.hero {
  margin-top: calc(-10vh - 1px);
  min-height: 100vh;
  > .content-wrapper {
    @include backgroundCover;
    @include emphasisShadow;
    position: relative;
    border-radius: 0 0 0 1rem;
    height: 50vh;
    .heading {
      @include content-col;
    }
    &.contact {
      overflow: hidden;
      #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        &:hover {
          cursor: grab;
        }
        canvas:focus {
          outline: none;
          cursor: grabbing;
        }
      }
    }
  }
  .content {
    @include content-col;
    grid-column-end: 11;
    padding: 5rem 0;
    .arrow {
      transform: rotate(-90deg);
      margin-top: 2rem;
      line {
        stroke-dasharray: 41px;
        stroke-dashoffset: 40px;
        transition: all 0.5s ease;
      }
      &:hover {
        line {
          stroke-dashoffset: 0;
        }
      }
    }
  }
  .breadcrumb {
    @include content-col;
    margin: 1rem 0 5rem;
    p {
      font-size: $font_size * 0.8px;
      text-transform: uppercase;
      a {
        position: relative;
        margin-right: 2rem;
        &:before {
          content: "";
          position: absolute;
          top: 0.4rem;
          right: -1.2rem;
          transform: rotate(45deg);
          border-width: 1px 1px 0 0;
          border-style: solid;
          border-color: $color_grey_light;
          width: 0.3rem;
          height: 0.3rem;
        }
      }
    }
  }
}

.other-news {
  padding: 5rem 0 5rem 2rem;
  .heading {
    @include content-col;
  }
  .news-feed__item {
    grid-column: span 4;
    margin-bottom: 3rem;
    p {
      margin-bottom: 1rem;
    }
  }
}

.single .hero,
.page-template-about-us-sub .hero {
  min-height: 0;
  margin-top: 0;
  .content-wrapper {
    @include backgroundCover;
    @include emphasisShadow;
    position: relative;
    overflow: hidden;
    grid-column: 1/13;
    border-radius: 1rem;
    min-height: 50vh;
    height: 100%;
    > .container {
      height: 100%;
      align-items: center;
    }
    .heading {
      grid-column: 5/12;
      text-transform: none;
      color: white;
      z-index: 10;
    }
  }
}

.single .toggle-list,
.page-template-about-us-sub .hero {
  grid-row: 1/3;
}

.accent {
  position: relative;
  display: block;
  bottom: 11px;
  width: 0;
  height: 2px;
  background: #e9e9e9;
  grid-column-start: 1;
  grid-column-end: 5;
  align-self: flex-end;
  margin-bottom: 1.7rem;
  transition: width 1s 0.3s ease;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 1s 0.3s ease;
    width: 0;
    height: 2px;
    background: #e9e9e9;
  }
}

.active .accent {
  animation-name: accent;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-delay: 0.5s;
  animation-timing-function: ease-out;

  &:before {
    animation-name: accent-before;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
    animation-timing-function: ease-in;
  }
}

@keyframes accent {
  0% {
    width: 0;
    margin-left: 0;
  }
  25% {
    width: 0;
    margin-left: 0;
  }
  75% {
    width: 90%;
    margin-left: 0;
  }
  100% {
    width: 0;
    margin-left: 90%;
  }
}
@keyframes accent-before {
  0% {
    width: 0;
    left: -8rem;
  }
  25% {
    width: 8rem;
    left: -8rem;
  }
  50% {
    width: 8rem;
    left: -8rem;
  }
  75% {
    width: 0;
    left: 0;
  }
  100% {
    width: 0;
    left: 0;
  }
}

.slide-wrapper {
  position: relative;
  margin-bottom: 5rem;
  .pad {
    height: 10vh;
    &:first-of-type {
      display: none;
    }
  }
  .slide-nav {
    padding-left: 2rem;
  }
}

.slide-nav {
  padding-left: 2rem;
  font-size: $font_size * 0.8px;
  font-family: $font_secondary;
  font-weight: 200;
  color: $color_grey_light;
  transition: margin 1s ease;
  margin-left: -20vw;
  &.active {
    margin-left: 0;
  }

  &__item {
    position: relative;
    margin-bottom: 2rem;
    cursor: pointer;
    &:last-of-type {
      margin-bottom: 0;
    }
    &:before {
      content: "";
      position: absolute;
      top: 10px;
      left: -2rem;
      transition: width 0.3s ease;
      width: 0;
      height: 2px;
      background: $color_grey_light;
    }
    &:hover {
      color: $color_grey_dark;
      &:before {
        width: 0.75rem;
      }
    }
    &.hit {
      color: $color_grey_dark;
      &:before {
        width: 1.5rem;
      }
    }
  }
}

.leaders {
  margin-bottom: 5rem;
  > .container {
    margin-bottom: 3rem;
  }
  .copy {
    @include supporting-col;
    .heading {
      border-bottom: 1px solid $color_grey_light;
      margin-bottom: 1rem;
    }
  }
  .image {
    @include backgroundCover;
    @include emphasisShadow;
    @include content-col;
    position: relative;
    transform-origin: 100% 100%;
    transition: transform 1s ease;
    border-radius: 1rem;
    min-height: 20rem;
    background-position: left center !important; /*Ensure logos are aligned*/
    a {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
    &:hover {
      transform: scaleX(1.05);
    }
  }
}

.work-leaders {
  padding: 5rem 0;
  .heading {
    @include content-col;
  }
  .content {
    grid-column: 1/5;
    padding-left: 2rem;
    padding-right: 2rem;
    .heading {
      border-bottom: 1px solid $color_grey_light;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
    }
  }
  .image {
    @include content-col;
    @include backgroundCover;
    @include emphasisShadow;
    position: relative;
    border-radius: 1rem;
    margin-bottom: 2rem;
    min-height: 15rem;
    transform-origin: 100% 100%;
    transition: transform 1s ease;
    a {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
    &:hover {
      transform: scaleX(1.05);
    }
  }
}
.cta {
  @include backgroundCover;
  @include emphasisShadow;
  border-radius: 1rem;
  margin-bottom: 5rem;
  padding: 10rem 0;
  .content {
    @include content-col;
    grid-column-end: 12;
  }
  .heading {
    margin-bottom: 1rem;
    color: white;
  }
}

.tab-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  &__upper {
    grid-row: 1 / span 1;
    display: flex;
    flex-direction: row;
    &__item {
      position: relative;
      z-index: 10;
      display: flex;
      flex-grow: 1;
      flex-basis: 0;
      transition: flex 1s ease;
      text-align: center;
      &:hover {
        cursor: pointer;
      }
      &:after {
        @include down-arrow;
        z-index: -1;
        bottom: 0;
        transition: bottom 0.5s ease;
      }
      &.active {
        flex-basis: 15%;
        &:after {
          bottom: -20px;
        }
      }
      .image-overlay {
        position: relative;
        width: 100%;
        padding: 3rem 1rem;
        align-content: flex-start;
        &:before {
          @include childOverlay;
          @include blackGrad;
          opacity: 0.5;
          transition: opacity 0.5s ease;
        }
        .content {
          width: 100%;
        }
      }
      &.active .image-overlay:before {
        opacity: 0.75;
      }
    }
  }
  &__lower {
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    &__item {
      background: $sec__col__mid;
      grid-row: 1/2;
      grid-column: 1/2;
      opacity: 0;
      transition: opacity 0.5s ease;
      padding: 5rem 5rem;
      &.active {
        opacity: 1;
      }
    }
  }
}

.carousel-wrapper {
  position: relative;
  grid-column: 5 / 11; //Monitor this for inconsistency
  padding: 5rem 0;
  overflow: hidden;
}

.testimonial-carousel {
  &--next,
  &--prev {
    position: absolute;
    top: calc(50% - 1rem);
    left: -3rem;
    transition: all 0.5s ease;
    polyline,
    line {
      stroke: $color_brand_highlight;
    }
    line {
      stroke-dasharray: 3rem;
      stroke-dashoffset: 3rem;
      transition: all 0.5s ease;
    }
    &:hover {
      margin-left: -10px;
      line {
        stroke-dashoffset: 0;
      }
    }
  }
  &--prev {
    left: initial;
    right: -3rem;
    transform: rotate(180deg);
    &:hover {
      margin-right: -10px;
    }
  }
}

.news-feed {
  grid-column-gap: 2rem;
  padding-bottom: 10rem;
  > .heading {
    @include content-col;
    margin-bottom: 1rem;
    color: $color_grey_light;
  }
  &__item {
    grid-column: span 6;
    margin-bottom: 2rem;
    .image {
      @include backgroundCover;
      @include emphasisShadow;
      transition: all 0.5s ease;
      border-radius: 1rem;
      margin-bottom: 1rem;
      height: 13rem;
      a {
        display: block;
        height: 100%;
        width: 100%;
      }
      &:hover {
        box-shadow: none;
        border: 1px solid $color_brand_highlight;
      }
    }
    .date {
      font-size: $font_size * 0.8px;
      margin-bottom: 0;
    }
    .heading {
      margin-bottom: 0.5rem;
    }
    p {
      margin-bottom: 1rem;
    }
    p,
    .heading,
    a.button {
      margin-left: 1rem;
    }
  }
}

.team {
  padding: 5rem 0;
  .lead-copy {
    @include content-col;
    grid-column-end: 12;
  }
  .members {
    grid-column: 1/13;
    padding-left: 2rem;
    .team-member {
      grid-column: span 4;
      margin-bottom: 1rem;
      .image {
        @include backgroundCover;
        @include emphasisShadow;
        border-radius: 1rem;
        margin-bottom: 1rem;
        height: 12rem;
      }
      .heading__4 {
        margin-left: 1rem;
        font-size: $font_size * 1px;
        line-height: 1rem;
      }
      .heading__6 {
        margin-top: 0.25rem;
        margin-left: 1rem;
        font-size: $font_size * 0.8px;
        line-height: 1rem;
      }
    }
  }
}

.toggle-list {
  @include supporting-col;
  &__item {
    .heading {
      line-height: 46px;
      &::after {
        position: relative;
        content: "";
        width: 12px;
        height: 12px;
        border-right: 1px solid $color_brand_highlight;
        border-top: 1px solid $color_brand_highlight;
        transform: rotate(45deg);
        margin-right: 0.5em;
        right: 0px;
        top: 15px;
        float: right;
      }
      a {
        color: $color_grey_mid;
      }
    }
    .trigger {
      position: relative;
      line-height: 46px;
      &:hover {
        cursor: pointer;
      }
      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 22px;
        left: -36px;
        width: 1rem;
        height: 1px;
        background: $color_brand_highlight;
        transition: transform 1.5s ease;
      }
      &:after {
        width: 1px;
        height: 1rem;
        top: 15px;
        left: -28px;
      }
      &.active {
        &:before {
          transform: rotate(135deg);
        }
        &:after {
          transform: rotate(495deg);
        }
      }
    }
    .target {
      position: relative;
      overflow: hidden;
      max-height: 0;
      transition: max-height 1s ease-out;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transition: width 0.5s ease-out;
        width: 0;
        height: 1px;
        background: $color_grey_light;
      }
      &.open {
        max-height: 50vh;
        padding-top: 1rem;
        &:before {
          width: 100%;
        }
      }
    }
  }
}
.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.text-content {
  @include content-col;
  grid-column-end: 10;
  .copy {
    margin-bottom: 5rem;
  }
  .date + .heading {
    margin-bottom: 1rem;
  }
}

.news-summary {
  @include content-col;
  &__item {
    margin-bottom: 5rem;
    .image {
      height: 20rem;
    }
  }
}

.gallery {
  @include content-col;
  > div {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: $grid-gap;
    margin-bottom: 1rem;
  }
  a {
    @include backgroundCover;
    @include emphasisShadow;
    display: block;
    transition: all 0.5s ease;
    border-radius: 1rem;
    height: 15rem;
    &.inline {
      height: auto;
    }
    &:hover {
      box-shadow: none;
      border-color: $color_brand_highlight;
    }
  }
  .inline-wrapper {
    @include emphasisShadow;
    grid-column: 1/13;
    overflow: hidden;
    transition: all 0.5s ease;
    border-radius: 1rem;
    width: 100%;
    height: auto;
    &:hover {
      box-shadow: none;
      border-color: $color_brand_highlight;
    }
  }
  img {
    width: calc(100% + 1rem);
    margin: -0.5rem;
  }
  &__fullwidth a {
    grid-column: span 12;
  }
  &__halves a {
    grid-column: span 6;
  }
  &__onethird-twothird {
    a {
      grid-column: span 4;
      &:nth-of-type(2) {
        grid-column: span 8;
      }
    }
    &.right {
      a {
        grid-column: span 8;
        &:nth-of-type(2) {
          grid-column: span 4;
        }
      }
    }
  }
  &__three-images {
    grid-template-rows: 1fr 1fr;
    a {
      height: auto;
      &:nth-of-type(1) {
        grid-column: span 6;
        grid-row: span 2;
        height: auto;
      }
      &:nth-of-type(2) {
        grid-column: span 6;
        grid-row: span 1;
      }
      &:nth-of-type(3) {
        grid-column: span 6;
        grid-row: span 1;
      }
    }
    &.right a {
      &:nth-of-type(1) {
        grid-column: 7/13;
        grid-row: span 2;
        height: auto;
      }
      &:nth-of-type(2) {
        grid-column: span 6;
        grid-row: 1/2;
      }
      &:nth-of-type(3) {
        grid-column: span 6;
        grid-row: span 1;
      }
    }
  }
}

.contact-details {
  @include supporting-col;
  .heading {
    border-bottom: 1px solid $color_grey_lightest;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
  .socials {
    margin-top: 2rem;
    margin-left: -0.5rem;
    i {
      color: $color_grey_mid;
      &:hover {
        color: $color_brand_highlight;
      }
    }
  }
}

.form-section {
  @include content-col;
  grid-column-end: 10;
}

#menu-mandatory-menu {
  li {
    position: relative;
    margin-bottom: 1rem;
    font-size: $font_size * 1px;
    font-weight: 200;
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 12px;
      left: -30px;
      padding: 0;
      width: 11px;
      height: 1px;
      background: $color_brand_highlight;
      transition: transform 1.5s ease;
    }
    &:after {
      width: 1px;
      height: 11px;
      top: 6px;
      left: -25px;
    }
  }
}

.contact-details .mainMenu {
  position: sticky;
  top: 10vh;
}
.hero .contact-details {
  padding: 5rem 0;
}
.inspired {
  .heading {
    position: relative;
    margin-bottom: 1rem;
    font-family: $font-secondary;
    color: $color_brand_highlight;
  }
  p {
    margin-bottom: 2rem;
  }
}

.work-detail {
  p:last-of-type {
    margin-bottom: 1rem;
  }
  .types {
    margin-bottom: 3rem;
    .heading {
      position: relative;
      margin-left: 2rem;
      &:before {
        content: "";
        position: absolute;
        top: 11px;
        left: -1.75rem;
        padding: 0;
        width: 2px;
        height: 2px;
        background: $color_brand_highlight;
      }
    }
  }
  .quote {
    padding: 0;
    svg {
      left: -4rem;
      width: 3rem;
    }
  }
}

.footer-upper-content,
.footer-contact {
  @include content-col;
  grid-column-end: 12;
  padding: 3rem 0;
  color: white;
}

footer .silverless {
  grid-column: 2/4;
  margin-top: 2.5rem;
}

footer {
  .button {
    width: 6rem;
  }
}

.footer-upper-content {
  .heading {
    margin-bottom: 1rem;
    width: 60%;
  }
  p {
    margin-bottom: 2rem;
    width: 65%;
  }
}
.footer-contact {
  grid-column-end: 13;
  padding-bottom: 0;
  p {
    margin-bottom: 1rem;
    a {
      display: block;
      margin-bottom: 0.5rem;
      color: white;
      text-decoration: none;
    }
  }
  .socials {
    position: relative;
    padding-top: 1rem;
    margin-left: -0.8rem;
    margin-bottom: 2rem;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0.8rem;
      width: 1rem;
      height: 1px;
      background: $color_brand_highlight;
    }
    a {
      color: white;
    }
  }
}
.mandatory {
  @include content-col;
  padding: 0.5rem 0;
  p {
    margin: 0;
    font-size: $font_size * 0.75px;
  }
  a {
    display: inline-block;
    border-left: 1px solid #4b4b4b;
    margin-left: 10px;
    padding-left: 10px;
    color: white;
  }
}
body .mfp-arrow {
  width: 2rem;
  height: 2rem;
  margin: 0;
  opacity: 1;
  &:hover:before {
    right: 1.5rem;
  }
  &:active {
    margin-top: 0;
  }
}
body .mfp-arrow:before {
  content: "";
  margin: 0;
  width: 2rem;
  height: 2rem;
  border-color: $color_brand_highlight;
  border-width: 1px 1px 0 0;
  border-style: solid;
  opacity: 1;
  transform: rotate(45deg);
  left: initial;
  right: 1rem;
  transition: all 0.5s ease;
}
body .mfp-arrow-left {
  &:hover:before {
    left: 1.5rem;
  }
}

body .mfp-arrow-left:before {
  left: 1rem;
  transform: rotate(-135deg);
}
body .mfp-arrow:after {
  display: none;
}
body .mfp-iframe-holder .mfp-close,
body .mfp-image-holder .mfp-close {
  font-size: 3rem;
  font-weight: 200;
  font-family: $font_secondary;
}
body .mapboxgl-ctrl-logo,
body .mapboxgl-ctrl-attrib-inner {
  display: none;
}

.change-request {
  position: relative;
  display: flex;
  align-items: center;
  background: gainsboro;
  cursor: pointer;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: -25vw;
    width: 25vw;
    height: 100%;
    background: gainsboro;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: $color_brand_main;
  }
  &:hover:before {
    background: $color_brand_main;
  }
  &:hover:after {
    width: 100%;
    transition: width 0.5s ease-out;
  }
  &:hover {
    p {
      color: white;
      letter-spacing: 1px;
      transition: all 0.5s ease;
    }
  }
  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  p {
    position: relative;
    z-index: 5;
    margin: 0;
    font-size: 12px;
    i,
    span {
      display: inline-block;
    }
    span {
      margin-left: 0.25rem;
    }
  }
}
