/*! == MIXINS == */

@mixin backgroundCover {
    background-size: cover !important; /* !important added as result of rule not working inside display:grid */
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

@mixin backgroundContain {
	background-size: contain !important; /* !important added as result of rule not working inside display:grid */
	background-position: center center !important;
	background-repeat: no-repeat !important;
}

@mixin childOverlay {
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
}

@mixin opacity {
    opacity:0;
    transition:opacity 0.5s ease;
}

@mixin flexVertAlign {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin gridCenter {
    display: grid;
    align-content: center;
    justify-content: center;
}

@mixin spanLink {
    position: absolute;
    width: 100%;
    height: 100%;
}

@mixin dropShadow {
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.4);
}

@mixin emphasisShadow {
    border: 1px solid #efefef;
    box-shadow: 5px 5px 12px hsla(0, 0%, 0%, 0.25);
}

@mixin blackGrad {
    background: -moz-linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,1) 100%);
    background: -webkit-linear-gradient(top, hsla(0,0%,0%,0) 0%,hsla(0,0%,0%,1) 100%);
    background: linear-gradient(to bottom, hsla(0,0%,0%,0) 0%,hsla(0,0%,0%,1) 100%);
}

@mixin heading {
    font-family:$font_primary;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.05em;
}

@mixin transition-all {
    transition: all 0.5s ease;
}

@function rem-calc($size) {
  $remSize: $size / $font_size;
  @return #{$remSize}rem;
}

@mixin down-arrow {
    content:'';
    position:absolute;
    left:50%;
    margin-left:-20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: $tri__col transparent transparent transparent;
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

@mixin supporting-col {
    grid-column:1/4;
}

@mixin content-col {
    grid-column:5/13;
}
