/*! == VARIABLES == */

/* COLORS */
$color_brand_highlight: #FE4C42;
$color_brand_main: #29232C;

$color_grey_darkest:#211B24;
$color_grey_dark:#4A4A49;
$color_grey_mid:#707070;
$color_grey_light:#CBC8C7;
$color_grey_lightest:#faf8f7;

/*===REMOVE===*/
$sec__col__mid: #292B33;
$sec__col__light: #353742;
$tri__col: #C37A6A;

/* TYPOGRAPHY */
$font_primary: goudy-old-style, serif;
$font_secondary: lato, sans-serif;
$font_size: 16;
$font_line-height: 26;

/* EFFECTS */
$fastEffect: all 0.5s ease;
$slowEffect: all 1s ease;

/* GRID */
$container-width: 1400px;
$sm-container-width: 1000px;
$col-count: 12;
$grid-gap: 1rem;
$sidebar-split: minmax(1rem, 15rem) minmax(1rem, 65rem);
$breakpoints: (
  xl: 1300px,
  lg: 992px,
  md: 768px,
  sm: 576px,
  xs: 350px
);
