/*! == MEDIA QUERIES == */

@each $name, $size in $breakpoints {
  @media (max-width: #{$size}) {
    .container {
      max-width: #{$size};
    }
  }
}
.mobile-nav {
  display: none;
}
/*===========LARGE (1200px)==========*/

@media only screen and (max-width: 1200px) {
  /*---GLOBALS---*/

  /*---HEADER---*/
  .menu-offscreen {
    .col {
      grid-column-start: 1;
    }
    ul {
      margin-top: calc(10vh + 0.5rem);
    }
  }
  /*---CONTENT---*/
  .slide.first {
    h3,
    .inner-content {
      grid-column: 2 / 12;
    }
  }

  .slide.work {
    .inner-content {
      grid-column-start: 2;
    }
  }

  .form-section {
    grid-column-end: -1;
    overflow: hidden;
  }
  /*---FOOTER---*/

  .footer-contact,
  .footer-upper-content,
  .mandatory {
    grid-column-start: 2;
  }
} /*---end large mq---*/

/*===========MEDIUM (992px)==========*/

@media only screen and (max-width: 992px) {
  /*---GLOBALS---*/
  .heading {
    &__1 {
      font: ($font_size * 2.5) + px / ($font_line-height * 2) + px $font_primary;
    }
    &__2 {
      font: ($font_size * 2.5) + px / ($font_line-height * 1.4) + px
        $font_primary;
    }
    &__3 {
      font: ($font_size * 1.5) + px / ($font_line-height * 1.2) + px
        $font_primary;
    }
    &__4 {
      font: ($font_size * 1.2) + px / ($font_line-height * 1) + px $font_primary;
      text-transform: uppercase;
    }
    &__5 {
      font: ($font_size * 1) + px / ($font_line-height * 1.3) + px
        $font_secondary;
      font-weight: 200;
    }
    &__6 {
      font: ($font_size * 0.85) + px / ($font_line-height * 1.5) + px
        $font_secondary;
      font-weight: 200;
      text-transform: uppercase;
    }
    &__7 {
      font: ($font_size * 1) + px / ($font_line-height * 1) + px $font_primary;
      font-weight: 200;
      text-transform: uppercase;
    }
  }
  /*---HEADER---*/

  /*---CONTENT---*/
  .quote .copy {
    font-size: $font_size * 1.1px;
    line-height: $font_line-height * 1.3px;
  }
  .news-feed__item,
  .other-news .news-feed__item {
    grid-column: span 6;
    margin-bottom: 4rem;
  }
  .leaders .copy {
    grid-column: 1/5;
  }
  .gallery {
    grid-column: 1/-1;
  }
  .news-summary__item .image {
    height: 15rem;
  }
  /*---FOOTER---*/
} /*---end medium mq---*/

/*===========SMALL (768px)==========*/

@media only screen and (max-width: 768px) {
  /*---GLOBALS---*/
  .container-overflow-right,
  .outer-container {
    grid-template-columns: 11rem minmax(1rem, 65rem) minmax(0, 1fr);
  }
  /*---HEADER---*/
  .menu-offscreen {
    ul li a {
      padding: 1rem;
    }
  }
  /*---CONTENT---*/
  .news-feed__item,
  .other-news .news-feed__item {
    -ms-grid-column-span: 6;
    grid-column: span 12;
  }
  .hero .content {
    grid-column-start: 1;
  }
  .leaders {
    .copy {
      grid-column: 5/-1;
    }
    .image {
      grid-column: 1/5;
      grid-row: 1;
      min-height: 5rem;
    }
  }
  .carousel-wrapper {
    padding: 3rem 0;
  }
  .toggle-list {
    grid-column: 1/-1;
    padding-left: 2rem;
    padding-top: 0;
    grid-row: 2;
  }
  .text-content {
    grid-column-start: 1;
    grid-column-end: -1;
    margin-top: 3rem;
  }
  .team .members .team-member {
    grid-column: span 6;
  }
  .news-summary,
  .hero .breadcrumb {
    grid-column-start: 1;
  }
  .contact-details {
    grid-column: 1/-1;
  }
  .form-section {
    grid-column-start: 1;
    margin-top: 3rem;
  }
  /*---FOOTER---*/
  .footer-upper-content {
    .heading,
    p {
      width: 100%;
    }
  }
  footer .silverless {
    grid-column: 2/6;
  }
} /*---end small mq---*/

/*===========EXTRA SMALL (576px)==========*/

@media only screen and (max-width: 576px) {
  /*---GLOBALS---*/
  main {
    padding-top: 0;
  }
  .container-overflow-right,
  .outer-container {
    grid-template-columns: 3rem minmax(1rem, 65rem) minmax(0, 1fr);
  }

  .heading {
    &__1 {
      font: ($font_size * 2) + px / ($font_line-height * 1.5) + px $font_primary;
    }
    &__2 {
      font: ($font_size * 1.8) + px / ($font_line-height * 1.2) + px
        $font_primary;
    }
    &__3 {
      font: ($font_size * 1.5) + px / ($font_line-height * 1.2) + px
        $font_primary;
    }
    &__4 {
      font: ($font_size * 1.2) + px / ($font_line-height * 1) + px $font_primary;
      text-transform: uppercase;
    }
    &__5 {
      font: ($font_size * 1) + px / ($font_line-height * 1) + px $font_secondary;
      font-weight: 200;
    }
    &__6 {
      font: ($font_size * 0.85) + px / ($font_line-height * 1.5) + px
        $font_secondary;
      font-weight: 200;
      text-transform: uppercase;
    }
    &__7 {
      font: ($font_size * 1) + px / ($font_line-height * 1) + px $font_primary;
      font-weight: 200;
      text-transform: uppercase;
    }
  }

  .button {
    padding: 0.5rem 2rem;
    &__bare {
      padding: 0 1rem 0 0;
    }
  }

  /*---HEADER---*/
  .header-logo {
    width: auto;
    height: 1.25rem;
  }
  .sidebar__top {
    display: none;
  }
  .nav-trigger span {
    display: none;
  }
  .slide-nav {
    padding-left: 0;
  }
  .cta-contact-header .button__global span {
    display: none;
  }

  .mobile-nav {
    display: grid;
    position: relative;
    margin-top: 1rem;
    padding-bottom: 1rem;
    .sidebar {
      top: 1rem;
      height: 50vh;
      align-self: flex-start;
      grid-template-rows: minmax(3rem, 3rem) minmax(0, 100vh);
      padding: 0;
    }
    .content {
      a {
        grid-column-start: 2;
      }
    }
    .nav-trigger {
      margin-top: 0;
    }
    .hamburger-menu:before {
      bottom: 8px;
    }
    .hamburger-menu:after {
      top: 8px;
    }
    .hamburger-menu.animate:before {
      bottom: 0;
    }
    .hamburger-menu.animate:after {
      top: 0;
    }
    .quick-links {
      text-align: center;
      a {
        display: block;
        width: 2rem;
      }
      i {
        width: 2rem;
        color: $color_grey_mid;
      }
      .socials {
        a {
          display: block;
        }
      }
      .icon {
        margin-bottom: 1rem;
      }
    }
    svg path {
      fill: white;
    }
  }
  .home .mobile-nav svg path {
    fill: $color_brand_main;
  }
  .cta-contact-header .button {
    display: none;
  }
  .accent {
    display: none;
  }
  .menu-offscreen.active {
    top: 0;
    height: 100vh;
  }
  .menu-offscreen ul {
    display: flex;
    align-items: flex-start;
    margin: 1rem 0;
    height: calc(50vh - 2rem);
    flex-direction: column;
    li {
      flex: 1;
    }
  }
  .menu-offscreen ul li:first-of-type a {
    padding-left: 1rem;
  }
  .single .mobile-nav svg path {
    fill: $color_brand_main;
  }
  /*---CONTENT---*/

  .slide {
    height: 87vh;
    &.active {
      transform: scaleY(1);
      &:before {
        opacity: 0.3;
      }
      a {
        color: $color_brand_highlight;
      }
    }
  }
  .slide-wrapper .pad {
    height: 3vh;
  }

  .slide.work p {
    max-height: 50vh;
  }

  .sidebar {
    grid-template-rows: 1fr;
    top: 50vh;
    height: 40vh;
  }
  .carousel-wrapper {
    grid-column: 1 / 12;
    padding: 2rem 1rem 2rem;
  }
  .testimonial-carousel--next,
  .testimonial-carousel--prev {
    position: absolute;
    top: initial;
    bottom: 1.5rem;
    left: initial;
    right: 3rem;
    z-index: 999;
  }
  .testimonial-carousel--prev {
    right: 1rem;
  }
  .quote-mark {
    display: none;
  }
  .single .hero .content-wrapper {
    grid-column: 1/13;
  }
  .single-work .toggle-list {
    grid-column: 1/13;
  }
  .work-leaders {
    padding: 3rem 1rem 5rem;
  }
  .main-copy {
    grid-column: 1/13;
  }
  .mb10 {
    margin-bottom: 5rem;
  }
  .news-feed {
    padding-bottom: 5rem;
  }
  .news-feed > .heading {
    grid-column: 1/11;
  }
  .leaders {
    .copy,
    .image {
      grid-column: 1/-1;
    }
    .image {
      min-height: 10rem;
    }
  }

  .hero > .content-wrapper {
    position: relative;
    overflow: hidden;
    &:before {
      @include childOverlay;
      @include blackGrad;
      transform: rotate(180deg);
      opacity: 0.4;
    }
  }
  .hero .breadcrumb {
    margin: 1rem 0;
  }
  .work-detail {
    margin-bottom: 3rem;
  }
  .single-work .quote {
    grid-column: 1/13;
  }
  .other-news {
    padding: 2rem 0 2rem 1rem;
    .heading {
      grid-column-start: 1;
    }
    .heading + p {
      margin-top: 0;
    }
  }
  .news-feed__item,
  .other-news .news-feed__item {
    grid-column: span 10;
  }
  .other-news .news-feed__item p {
    margin-bottom: 0.5rem;
  }
  .single .hero .content-wrapper > .container {
    height: 50vh;
    align-content: center;
    display: grid;
    .heading {
      grid-column-start: 2;
      margin: 0;
    }
  }
  .gallery > div {
    display: block;
    height: auto !important;
    //min-height: 15rem;
    margin-bottom: 0;
    .lightbox-gallery {
      grid-column: 1/2 !important;
      grid-row: auto;
      min-height: 10rem;
    }
    a {
      //min-height: 15rem;
      margin-bottom: 1rem;
    }
  }
  .gallery a.inline {
    margin-bottom: 0;
  }
  .gallery .inline-wrapper {
    margin-bottom: 1rem;
  }

  .work-leaders {
    padding: 2rem 0 2rem 1rem;
    .heading {
      grid-column: 1/13;
    }
    .content {
      grid-column: 1/12;
      padding-left: 0;
      padding-right: 0;
    }
    .image {
      grid-column: 1/12;
      min-height: 8rem;
      margin-bottom: 3rem;
    }
  }
  .services .toggle-list {
    padding-left: 2rem;
  }
  //   .toggle-list__item .trigger:before {
  //     top: 11px;
  //   }
  //   .toggle-list__item .trigger:after {
  //     top: 4px;
  //   }
  .team {
    padding: 2rem 1rem;
    .lead-copy {
      grid-column-start: 1;
    }
    .members {
      grid-column: 1/12;
      padding-left: 0;
      .team-member {
        grid-column: span 12;
      }
    }
  }
  .accept-field {
    grid-gap: 1rem;
    margin-bottom: 1rem;
  }
  .form-button .button {
    padding: 1rem 2rem;
    width: 100%;
    text-transform: uppercase;
  }
  .news-summary__item .image {
    height: 8rem;
  }
  /*---FOOTER---*/
  footer .silverless {
    grid-column: 2/9;
    margin-top: 1rem;
  }
  .footer-contact,
  .footer-upper-content {
    padding: 1rem 0;
  }
  .no-wrap {
    white-space: nowrap;
  }
  .mandatory a:first-of-type {
    border: none;
    padding-left: 0;
    margin-left: 0;
  }

  .footer .wrapper .image-wrapper {
    background-position: right center !important;
  }

  .change-request {
    grid-column: 1/-1;
    grid-row: 4;
    padding: 1rem;
  }
} /*---end extra small mq---*/
